mono-devel-list/attachments/20040118/26a1ac20/attachment.xml

<?xml version="1.0"?><xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" targetNamespace="http://tempuri.org/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xs:element name="FindAbbreviations" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema" /></xs:element><xsd:element name="StateProvince" xmlns:q1="http://trwest.com/webservices/" type="q1:StateProvince" /><xsd:element name="FindAbbreviationsResponse"><xsd:complexType><xsd:sequence><xsd:element name="FindAbbreviationsResult" type="tns:ArrayOfStateProvince" minOccurs="0" maxOccurs="1" /></xsd:sequence></xsd:complexType></xsd:element><xsd:import namespace="http://trwest.com/webservices/" /></xsd:schema>